
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div formGroupName="customer" class="form-area">
                <h3>Customer</h3>
                <div class="row">
                    <div class="col-md-2">
                        <label for="fristName">Frist Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="firstName" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="lastName" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="email" type="text">
                        </div>
                    </div>
                </div>

            </div>

            <div formGroupName="shippingAddress" class="form-area">
                <h3>Shipping Address</h3>
                <div class="row">
                    <div class="col-md-2">
                        <label for="street">Street</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="street" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="city">City</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="city" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="country" 
                                    (change)="onCountryChange('shippingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="street">State</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="state" 
                            (change)="onCountryChange('shippingAddress')">
                        <option *ngFor="let state of states">
                            {{state.name}}
                        </option>
                    </select>
                        </div>
                    </div>
                </div>
            </div>

            <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3>
                <div class="row">
                    <div class="col-md-2">
                        <label for="cardType">Card Type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="cardType" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="cardNumber">Card Number</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="cardNumber" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="nameOnCard">Name on Card Number</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="nameOnCard" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="securityCode">Security Code</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input  formControlName="securityCode" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="expirationMonth">Expire Month</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                           <select formControlName="expirationMonth" id="">
                            <option *ngFor="let month of creditCardMonth">
                                {{month}}
                            </option>
                           </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="expirationYear">Expire Year</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="expirationYear">
                            <option *ngFor="let year of creditCardyear">
                                {{year}}
                            </option>
                           </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-area">
                <h3>Review Your Order</h3>
                <p>Total Quantity : {{totalQuantity}}</p>
                 <p>Shipping : Free</p>
                 <p>Total Price : {{totalPrice | currency: 'USD'}}</p>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Purchase</button>
            </div>

        </form>
        </div>
    </div>
</div>
